@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --red: #eb3337;
  --green: #00a759;
  --yellow: #fdf015;
  --blue: #0097d9;
  --black: #1e1e1e;
  --white: #e8e8e8;
}

html {
  background-color: var(--black);
}

.hover-effect {
  clip-path: rect(0% 0% 100% 0%);
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

.navItem:hover {
  & > .hover-effect {
    opacity: 1;
    clip-path: rect(0 100% 100% 0);
  }
}
